---
# BasedOnStyle: Google
BasedOnStyle: Chromium # !
# IndentWidth: 2
# DerivePointerAlignment: false
# PointerAlignment: Left
UseTab: Never
# AlwaysBreakAfterDefinitionReturnType: All
# AlwaysBreakAfterReturnType: All
# SpacesInParentheses: true
# SpaceInEmptyBlock: true
# SpaceInEmptyParentheses: true
# SpaceBeforeParens: Always
